In [1]:
#importing needed libraries

In [7]:
import numpy as np 
import pandas as pd

In [8]:
data=pd.read_csv('airport_volume_airport_locations.csv')

In [ ]:
#exploring data

In [9]:
data.head()

,Orig,Name,TotalSeats,Country Name,Airport1Latitude,Airport1Longitude
0,HEA,Herat,"22,042",Afghanistan,34.206902,62.226700
1,JAA,Jalalabad,"6,344",Afghanistan,34.400002,70.500000
2,KBL,Kabul International,"1,016,197",Afghanistan,34.563900,69.213898
3,KDH,Kandahar International,"39,924",Afghanistan,31.506901,65.847504
4,MZR,Mazar-e-Sharif,"58,327",Afghanistan,36.704201,67.208298

In [10]:
data.tail()

,Orig,Name,TotalSeats,Country Name,Airport1Latitude,Airport1Longitude
2168,MFU,Mfuwe,589,Zambia,-13.259400,31.934799
2169,NLA,Ndola,"101,856",Zambia,-12.995800,28.663099
2170,BUQ,Joshua M. Nkomo Intl,"100,998",Zimbabwe,-20.016899,28.618099
2171,HRE,RG Mugabe International Airport,"751,217",Zimbabwe,-17.922800,31.101400
2172,VFA,Victoria Falls International,"229,727",Zimbabwe,-18.093100,25.840300

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2173 entries, 0 to 2172
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Orig               2173 non-null   object
 1   Name               2173 non-null   object
 2    TotalSeats        2173 non-null   object
 3   Country Name       2173 non-null   object
 4   Airport1Latitude   2173 non-null   float64
 5   Airport1Longitude  2173 non-null   float64
dtypes: float64(2), object(4)
memory usage: 102.0+ KB

In [18]:
data.isnull().sum()

Orig                 0
Name                 0
 TotalSeats          0
Country Name         0
Airport1Latitude     0
Airport1Longitude    0
dtype: int64

In [19]:
data.duplicated().sum()

0

In [21]:
data["Country Name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Anguilla',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire, Saint Eustatius & Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland',
       'Grenada and South Grenadines', 'Guadeloupe', 'Guatemala',
       'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong (SAR)', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       "Ivory Coast (Cote d'Ivoire)", 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Macau (SAR)', 'Macedonia', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island',
       'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Reunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saint Barthelemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and Grenadines',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna Islands', 'Western Sahara', 'Western Samoa',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
data["Country Name"].nunique()

224

In [25]:
data["Country Name"].value_counts()

United States              291
China                      102
Russian Federation          93
Canada                      82
France                      62
                          ...
Cocos (Keeling) Islands      1
Nauru                        1
Cook Islands                 1
Montserrat                   1
Niue                         1
Name: Country Name, Length: 224, dtype: int64